<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">About Us</h2>
        <p>The company was made 2017 in Sofia, Bulgaria</p>
    </div>
</div>

<!-- Team Members Row -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Our Team</h2>
    </div>
    <div class="col-sm-6 text-center">
        <img class="img-circle img-responsive about-pics" src="/public/images/RossiBundeva.jpg" alt="RossicaBundeva">
        <h3>Rosica Bundeva</h3>
        <p class="yello-p">Junior Front End Developer</p>        
        <p>Worked hard on the project</p>
    </div>
    <div class="col-sm-6 text-center">
        <img class="img-circle img-responsive about-pics" src="/public/images/martinaShebova.jpg" alt="MartinaShebova">
        <h3>Martina Shebova</h3>
        <p class="yellow-p">Junior Front End Developer</p>
        <p>Worked hard on the project too</p>
    </div>
</div>