 <!--Search form-->

<div class="row">
        <div class="col-xs-6 col-md-4">
            <div class="ui-widget">
            <label for="tags">Tags: </label>
            <input id="tags">
            </div>
        </div>
</div>

<!--Jumbotron with offers-->

<div class="row">
    {{#each this}}
    <div class="col-sm-3">
        <h4>{{this.title}}</h4>
        <img class="img-responsive img-rounded user-pic" src="{{this.imageUrl}}" />
        <p class="text-justify flash">Current price: {{this.endPrice}}$</p>
        <p><a class="btn btn-info" href="#/sells/{{this._id}}" id="view-ad-details" role="button">View details &raquo;</a></p>
    </div>
    {{/each}} 
</div>

