<div class="container-fluid">
<div class="row">
  <div id="accordion">
    <h3>Section 1</h3>
    <div>
      <p>You have to be a registered user in order to take part of the auctions and respectively to sell in this platform</p>
    </div>
    <h3>Section 2</h3>
    <div>
      <p>All the bids can be make for 5BGN, 10BGN or 15BGN</p>
    </div>
    <h3>Section 3</h3>
    <div>
      <p>Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis. Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui. </p>
      <ul>
        <li>List item one</li>
        <li>List item two</li>
        <li>List item three</li>
      </ul>
    </div>
    <h3>Section 4</h3>
    <div>
      <p>The winner of the action is the user that makes the biggest bid until the offer expires</p>
    </div>
  </div>
</div>

</div>